<?xml version="1.0"?>
<config>
	<modules>
		<LocationTracker_IpRedirect>
			<version>0.2.0</version>
		</LocationTracker_IpRedirect>		
	</modules>
	<frontend>
		<routers>
			<ipredirect>
				<use>standard</use>
				<args>
					<module>LocationTracker_IpRedirect</module>
					<frontName>IpRedirect</frontName>
				</args>
			</ipredirect>
		</routers>
	</frontend>
	<global>
		<blocks>
			<ipredirect>
				<class>LocationTracker_IpRedirect_Block</class>
			</ipredirect>
		</blocks>
		<models>
			<ipredirect>
				<class>LocationTracker_IpRedirect_Model</class>
				<resourceModel>ipredirect_mysql4</resourceModel>
			</ipredirect>
			<ipredirect_mysql4>
				<class>LocationTracker_IpRedirect_Model_Mysql4</class>
				<entities><metrocodes><table>ipredirect_metrocodes</table></metrocodes></entities>
			</ipredirect_mysql4>
		</models>
		<resources>
			<ipredirect_setup>
				<setup>
					<module>LocationTracker_IpRedirect</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ipredirect_setup>
			<ipredirect_write>
				<connection>
					<use>core_write</use>
				</connection>
			</ipredirect_write>
			<ipredirect_read>
				<connection>
					<use>core_read</use>
				</connection>
			</ipredirect_read>
		</resources>
		<helpers>
			<ipredirect>
				<class>LocationTracker_IpRedirect_Helper</class>
			</ipredirect>
		</helpers>
	</global>
</config>
